body {
    font-family: serif;
}

.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0 auto;
    color: #857226;
}

.header-nav__item {
    list-style: none;
    width: 100px;
    height: 30px;
}

.header-nav__button {
    width: 100%;
    height: 30px;
    border: 1px solid #c5b6a3;
    border-radius: 3px;
    background: #f0ece7da;
    color: #c5b6a3;
    cursor: pointer;
}

.admin__content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    background: #fff;
    border-top: 1px solid #ddd;
}

.admin__heading {
    margin: 0 auto;
    text-align: center;
    color: #857226;
}

.search-form {
    margin: 10px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.search-form__item {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.search-form__item input {
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f0efef;
}

.search-form__item-input--text {
    width: 40%;
    text-align: center;
}

.search-form__item select {
    height: 35px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f0efef;
}

.search-form__iem-select--gen {
    width: 10%;
}

.search-form__iem-select--cat {
    width: 25%;
}

.search-form__iem-select--date {
    width: 15%;
}

.search-form__button {
    width: 10%;
}

.search-form__button-submit {
    padding: 5px 10px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #615724;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.reset-form__button {
    width: 10%;
}

.reset-form__button-submit {
    padding: 5px 10px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #c09a6b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.delete-button {
    padding: 5px 10px;
    color: #fff;
    background: #ff0000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}