body {
    font-family: serif;
}

.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0 auto;
    color: #857226;
}

.header-nav__item {
    list-style: none;
}

.header-nav__link {
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid #c5b6a3;
    border-radius: 3px;
    background: #f0ece7da;
    color: #c5b6a3;
}

.admin__content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    height: 500px;
    background: #fff;
    border-top: 1px solid #ddd;
}

.admin__heading {
    margin: 0 auto;
    text-align: center;
    color: #857226;
}