body {
    font-family: serif;
}

.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

h1 {
    margin: 0 auto;
    text-align: center;
    color: #857226;
}

.confirm__content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    height: 500px;
    background: #fff;
    border-top: 1px solid #ddd;
}

.confirm__heading {
    margin: 0 auto;
    text-align: center;
    color: #857226;
}

.form {
    margin: 0 auto;
    width: 65%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner{
    width: 100%;
}

.confirm-table__header {
    padding: 15px 40px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background: #a78876;
    color: #fff;
    text-align: left;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
    outline: none;
    border: none;
}

.confirm-table__text-name {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.confirm-table__text-name input {
    outline: none;
    border: none;
    width: 50px;
}

.confirm-table__text-phone {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.confirm-table__text-phone input {
    outline: none;
    border: none;
    text-align: center;
    width: 30px;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom: none;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 5px 10px;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: #615724;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-fixed {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 50px;
}